#<IfModule mod_expires.c>
#    ExpiresActive On
#    # Set default caching to 2 days
#    ExpiresDefault "access plus 2 days"
#    # Specific file types settings
#    ExpiresByType image/jpg "access plus 1 month"
#    ExpiresByType image/jpeg "access plus 1 month"
#    ExpiresByType image/gif "access plus 1 month"
#    ExpiresByType image/png "access plus 1 month"
#    ExpiresByType text/css "access plus 1 week"
#    ExpiresByType application/pdf "access plus 1 month"
#    ExpiresByType application/javascript "access plus 1 week"
#    ExpiresByType application/x-javascript "access plus 1 week"
#    ExpiresByType image/x-icon "access plus 1 year"
#</IfModule>
